.predictor {
    position: relative;
    display: block;
    width: 375px;
    margin: auto;
    align-items: center;
    /* background-color: antiquewhite; */
}



/* .predictor h2 {
    font-size: 20px;
} */

.predictor .tabs-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 0%;
    height: 30px;

}

.predictor .header-active {
    font-size: 10px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(212, 212, 212);
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    color: rgb(77, 77, 77);
    vertical-align: middle;
}

.predictor .header-silent {
    font-size: 6px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgb(71, 71, 71);
    color: rgb(139, 139, 139);
}

.predictor .header-active h1 {
    margin:auto
}
.predictor .header-silent h1 {
    margin-top: 6px;
}

.predictor .LinePlot {
    width: 100%;
    height: 300px;
    pointer-events: none;
    /* background-color: aqua; */

}

.grid-container1 {
    position: absolute;
    margin-right: auto;
    margin-left: 9%;
    top: 15px;
    width: 82%;
    align-items: center;
    opacity: 0;
    display: flex;
    gap: 30px;
    height: 5px;
}

.grid-container1>div {
    /* background-color: rgba(117, 117, 117, 0.8); */
    text-align: center;
    font-size: 12px;
    width: 80px;
}

.grid-container1 .item2 {
    margin-left: -10px;
}

.grid-container1 .item3 {
    margin-left: -10px;
    width: 100px;
}


.grid-container2 {
    position: absolute;
    margin-right: auto;
    margin-left: 12%;
    top: 35px;
    width: 82%;
    align-items: center;
    opacity: 0;
    display: flex;
    gap: 30px;
    height: 5px;
}

.grid-container2>div {
    /* background-color: rgba(117, 117, 117, 0.8); */
    text-align: center;
    font-size: 12px;
    width: 80px;
}

.grid-container2 .item4 {
    margin-left: -10px;
}

.grid-container2 .item5 {
    margin-left: -10px;
    width: 90px;
}

.grid-container2 .item6 {
    margin-left: -20px;
    width: 100px;
}


.grid-container3 {
    position: absolute;
    margin-right: auto;
    left: 80px;
    top: 56px;
    width: 82%;
    align-items: center;
    opacity: 0;
    display: flex;
    gap: 30px;
    height: 5px;
}

.grid-container3>div {
    font-size: 12px;
    width: 80px;
    /* background-color: brown; */
}

.grid-container3 .item7 {
    width: 90px;
}

.grid-container3 .item8 {
    margin-left: -18px;
    width: 110px;
}