.sliderVContainer {
    position: absolute;
    display: block;
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 125px;
    left: 0px;
    transform: rotate(270deg);
}

.sliderVContainer .sliderValue {
    pointer-events: none;
    display: block;
    margin-bottom: -10px;
    position: absolute;
    background-color: #f50909;
    width: 100%;
    z-index: 5;
    transform: rotate(90deg);
}

.sliderVContainer .sliderValue span {
    pointer-events: none;
    position: absolute;
    height: 55px;
    width: 55px;
    font-weight: 600;
    font-size: 18px;
    top: -80px;
    left:65px;
    transform: translate(-50%);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 50px;
    z-index: 2;
}

.sliderVContainer .field {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
    /* background-color: #4b4b4b; */
}

.sliderVContainer .field .sliderInput {
    position: absolute;
    padding: 0 0 0 0;
    left: 0%;
    height: 7px;
    border-radius: 1px;
    outline: none;
    border: none;
    accent-color: #140c3d69;
    width: 100%;
    top: 30%;
    opacity: 0.2;
    /* transition: opacity 1s;   */
}